<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    
    {{!-- <textarea name="main" readonly style="border:none;pointer-events:none; resize: none; width:90vw; height:90vh; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{data}}</textarea> --}}
    <ul class="main">
       {{#each data.crops as |crop|}}
        <li class="item">{{crop.crop_name}}</li>
        <ul>
          {{#each crop.features as |f|}}
            <li class="sub-item">{{f}}</li>
          {{/each}}
        </ul>
      {{/each}} 
    </ul>

    <h3>Additional Considerations:</h3>
    <ul>
      {{#each data.AdditionalConsiderations as |consideration|}}
        <li>{{consideration}}</li>
      {{/each}}
    </ul>

  </body>
</html>